.heading {
	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }

	&__wrap {}

	&__subhead,
	&__headline {}

	&__subhead {}
	&__headline {}
}

.headline,
.subhead {
	margin-bottom: .5em;
	line-height: 1.2 !important;
	display: block;
}

.headline {
	font-family: seif;
	font-size: 2rem;
	margin-top: 0;
}
.subhead {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: orange;
	text-transform: uppercase;
}
