.imagecta {
	&__item {
		cursor: default;
		background-color: lightgray;
	}
	.block-library-button__inline-link {
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		max-width: 100%;
		input { width: 100% !important; }
	}
}
