.imagecta {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;

	&__wrap {}
	&__item {
		padding-bottom: 89%;
		background-size: cover;
		background-position: center center;
		position: relative;

		&--sml {}
		&--sml {}
		&--lrg {
			grid-area: 1 / 2 / 3 / 3;
		}
	}
	&__inner {
		@include position(absolute, n n 5% 10%);
	}
	&__subhead,
	&__headline {
		color: $color__white;
	}
	&__subhead {
		font-family: sans-serif;
		font-weight: 300;
		text-transform: uppercase;
	}
	&__headline {
		font-weight: 300;
	}
}
