.bynum {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

	background-size: 50%;
	background-position: center 40%;
	background-repeat: no-repeat;

	&__wrap {}

	.editor-block-list__layout {
		display: grid;
		grid-template-columns: 2fr 4fr 2fr;
		grid-template-rows: repeat(2, 2fr) 1fr;
	}
	[data-type="power-blocks/number-fact"] {
		// row-start/col-start/row-end/col-end
		&:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
		&:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
		&:nth-child(3) { grid-area: 2 / 1 / 2 / 2; }
		&:nth-child(4) { grid-area: 2 / 3 / 2 / 4; }
	}
	[data-type="power-blocks/button"] {
		grid-area: 3 / 1 / 4 / 4;
	}
}
