.upnext {
	text-decoration: none;
	&__wrap {}
	&__icon {}
	&__subhead, &__headline {}
	&__subhead {}
	&__headline {}
	&__item {
		&::after {}
		&--first {
			&::after {}
		}
		&--mid {
			&::after {}
		}
		&--last {
			&::after {}
		}
	}
}
