.upnext {
	display: block;
	text-align: center;
	border: 1px solid $color__orange;
	position: relative;
	padding: 5rem 5% 4rem;
	text-decoration: none;
	a { color: $color__black; }

	&:hover {
		.upnext__icon { width: 4.5rem; }
	}

	&__wrap {}
	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		background: $color__orange;
		color: $color__white;
		margin-top: -.5px;
		margin-right: -.5px;
		display: block;
		width: 3.5rem;
		height: 3.5rem;
		font-size: 1.5em;
		transition: width 250ms ease;
		will-change: width;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&__subhead, &__headline {}
	&__subhead {
		display: block;
		margin-bottom: 1.5rem;
		font-size: 1.15rem;
	}
	&__headline {
		color: $color__black;
		font-size: 1.5rem;
	}
	&__item {
		display: inline-block;

		padding: .25rem .75rem;
		margin-right: 1rem;
		position: relative;

		&::after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -.5em;
			display: block;
		}

		&--first {
			font-weight: 600;
			&::after { content: ":"; }
		}
		&--mid {
			&::after { content: ">"; }
		}
		&--last {
			border-bottom: 2px solid $color__orange;
			margin-right: 0;
			padding: .25rem;
			margin-left: .75rem;
			&::after { display: none; }
		}
	}
}
