.overture {
	max-width: 1140px;
	background: $color__white;
	margin: -4rem auto 0;
	padding: 3rem 10rem 0;

	&__wrap {
		padding-bottom: 8rem;
	}

	&__img {
		background-size: 100% auto;
		padding-bottom: 40%;
	}

	&__body {}
}
