@mixin tab($pos: 'left') {
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 1rem;
		height: 5rem;
		background: $color__orange;
		position: absolute;
		top: 1.5rem;
		#{$pos}: -1rem;
	}
}

.decoration--tab--left {
	.split:not(.split--reverse) .split__col--body { @include tab(left); }
	.split--reverse .split__col--img { @include tab(left); }
	.box { @include tab(left); }
}
.decoration--tab--right {
	.split:not(.split--reverse) .split__col--img { @include tab(right); }
	.split--reverse .split__col--body { @include tab(right); }
	.box { @include tab(right); }
}
