.columns {
	display: block;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background: lightgray;


	&--third-first {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:last-child { flex: 2; }
		}
	}
	&--third-last {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:first-child { flex: 2; }
		}
	}
	&--quarter-first {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:last-child { flex: 3; }
		}
	}
	&--quarter-last {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:first-child { flex: 3; }
		}
	}
	&--half-quarters {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:first-child { flex: 2; }
		}
	}
	&--quarters-half {
		> .editor-inner-blocks > .editor-block-list__layout {
			.wp-block:last-child { flex: 2; }
		}
	}

	> .editor-inner-blocks {
		display: block;
		width: 100%;
		> .editor-block-list__layout {
			display: flex;
		}
	}
	&--top > .editor-inner-blocks > .editor-block-list__layout { align-items: flex-start; }
	&--middle > .editor-inner-blocks > .editor-block-list__layout { align-items: center; }
	&--bottom > .editor-inner-blocks > .editor-block-list__layout { align-items: flex-end; }
	&--stretch > .editor-inner-blocks > .editor-block-list__layout { align-items: stretch; }
	&--baseline > .editor-inner-blocks > .editor-block-list__layout { align-items: baseline; }


	[data-type="power-blocks/column"] {
		flex: 1;
	}

	&__item {
		flex: none;
	}
}
