.columns {
	display: flex;

	&__item { flex: 1; }

	&--third-first .columns__item:last-child { flex: 2; }
	&--third-last .columns__item:first-child { flex: 2; }
	&--quarter-first .columns__item:last-child { flex: 3; }
	&--quarter-last .columns__item:first-child { flex: 3; }
	&--half-quarters .columns__item:first-child { flex: 2; }
	&--quarters-half .columns__item:last-child { flex: 2; }

	&--top { align-items: flex-start; }
	&--middle { align-items: center; }
	&--bottom { align-items: flex-end; }
	&--stretch { align-items: stretch; }
	&--baseline { align-items: baseline; }
}
