.numfact {
	display: inline-block;
	max-width: 250px;
	padding: 2rem 1rem;

	&__wrap {
		text-align: center;
	}
	&__number, &__body { display: block; }
	&__number {
		font-size: 2rem;
		padding: .25em .5em;
		border-bottom: 2px solid $color__orange;
		margin-bottom: .5em;
	}
	&__body {

	}
}
