.accordion {
	border-top: 1px solid $color__gray;
	&__toggle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 2rem 0;
	}
	&__title {
		display: block;
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	&__icon {
		color: $color__orange;
		margin-right: 1rem;
		svg { transition: all ease 250ms; }
		.fa-square-full { transform: rotate(45deg); }
	}
	&__body {
		display: none;
	}

	&--active {
		.fa-plus { opacity: 0; transform: rotate(90deg); }
		.fa-minus { opacity: 1; transform: rotate(0deg); }
		.accordion__body {
		display: block;
		}
	}
}
