/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.power-blocks {
	&__panel {
		&--image {
			img {
				cursor: pointer;
				transition: opacity ease 250ms;
				will-change: opacity;
				&:hover {
					opacity: 0.75;
				}
			}
		}
	}
}
