.split {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;

	&__wrap {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&--touch {
		align-items: stretch;
		.split__col--body {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&--separate {
		justify-content: space-evenly;
	}
	&--overlap {
		align-items: center;
		.split__col--body {
			transform: translateX(50px);
			background: white;
		}
	}
	&--reverse {
		flex-direction: row-reverse;
		&.split--overlap .split__col--body { transform: translateX(-50px); }
	}

	&--full {
		display: block;

		& .split__col--body {
			@include position(absolute, n 0 10% n);
			background: $color__white;
			width: 45%;
			box-shadow: 0 0 0;
			padding: 3rem 4rem;
		}
		&.split--reverse .split__col--body { right: auto; left: 0; }
		& .split__col--img { padding-bottom: 45%; }
	}

	&__col {
		box-sizing: border-box;
		display: block;
		flex-basis: 40%;
		position: relative;
		&--body {
			text-align: center;
			box-shadow: 0 0 .5rem rgba(0,0,0,0.25);
			padding: 3rem 2rem;
			z-index: 1;
		}
		&--img {
			padding-bottom: 35%;
			background-color: $gray;
			background-size: cover;
			background-position: center;
		}
	}
	&__subhead,
	&__headline {
		font-family: sans-serif;
		display: block;
		margin-bottom: .5em;
		line-height: 1.2 !important;
	}
	&__subhead {
		font-weight: 300;
		font-size: 1.5rem;
		color: orange;
		text-transform: uppercase;
	}
	&__headline {
		font-size: 2rem;
	}
	&__copy {}
}
