.qa {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-items: stretch;

	padding: 0 1.5rem 2rem;
	border-bottom: 1px solid $color__gray;
	margin-bottom: 2rem;

	&__wrap {}
	&__question {
		display: block;
		font-size: 1.25rem;
		font-weight: 600;
	}
	&__answer {
		padding-right: 3rem;
		padding-left: 1.5rem;
		border-left: 2px solid $color__orange;
		margin-left: 1.5rem;
	}
}
