.curtain {
	&__controls {
		flex-basis: 100%;
	}
	&__item {
		&[hidden] { display: none; }
	}
}

.power-blocks-curtain-controls-container {
	opacity: 0.25;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .5rem;
	transition: opacity ease 250ms;
	&[hidden] { display: none; }
	&:hover { opacity: 1; }
}
.curtain-edit-buttons {
	display: flex;
	align-items: center;
}
.curtain__slide {
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
	margin-bottom: 1rem;
}
.power-blocks-curtain-buttons {
	button { width: 100%; justify-content: center; }
}
