.curtain {

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
	}
	&__body, &__slides {
		flex-basis: 45%;
	}
	&__body {}
	&__slides {}

	&__headline {
	}

	&__heading {
		display: block;
		color: $color__orange;
		font-size: 2rem;
		margin-bottom: 1em;
		font-weight: 300;
		line-height: 1.2 !important;
	}
	&__copy {}

	&__slide {
		min-height: 475px;
		padding: 22% 1.5rem 2%;
		padding: 350px 1.5rem 2%;
		background: $color__gray;
		text-align: center;
		color: $color__white;
	}
	&__title {
		display: flex;
		align-items: stretch;
		justify-content: center;
		font-size: 2.25rem;

		i,span {
			display: block;
			padding: 0 .5em;
			border: 1px solid $color__white;
			line-height: 1.25;
		}
		i {}
		span {}
	}
	&__subtitle {}
}
