.wp-block[data-type="power-blocks/button"] {
	.block-library-button__inline-link {
		@include center(horizontal);
		z-index: 7;
	}

	.components-autocomplete {
		display: inline-block;
		width: auto;
		position: relative;
	}
}
