.btn {
	display: inline-block;
	background: $color__orange;
	color: $color__white;
	border-radius: .25rem;
	padding: .5rem 1.25rem;
	text-decoration: none;
	color: $color__white;
	&:hover { 
		color: $color__white;
		background: darken($color__orange, 10);
	}

	&__wrap {
		&--left { text-align: left; }
		&--center { text-align: center; }
		&--right { text-align: right; }
	}
}
