.children {
	$spaceTop: 1.5rem;
	$spaceSide: 2.5rem;
	$innerHeight: $spaceTop * 2;
	$innerWidth: $spaceSide * 2;

	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;

	&__item {
		flex-basis: 47.5%;
		flex-basis: calc(50% - 20px);
		@include aspectRatio(50%);
		margin-top: 20px;
		position: relative;
		background-size: 100% auto;
		background-repeat: no-repeat;
		margin-bottom: $spaceTop;
		&::before {
			content: "";
			@include blockSize;
			@include position(absolute, 0 n n 0);
			background: black(0.25);
		}

		// respond med
		margin-bottom: 20%;
		&::before { display: none; }

	}
	&__link {
		@include center;
		font-family: $font__serif;
		background: transparent;
		@include blockSize(90%);
		padding: $spaceTop $spaceSide;

		// respond sml
		width: calc(100% - #{$innerWidth});
		height: calc(100% - #{$innerHeight});

		// respond med
		top: 120%;
		background: $color__white;

		&::before {
			content: "";
			@include center;
			@include blockSize(90%);
			border: 1px solid $color__white;

			// respond sml
			width: calc(100% - #{$innerWidth});
			height: calc(100% - #{$innerHeight});

			// respond med
			border-color: $color__orange;
		}
		&:hover {
			.children__icon { width: 4.5rem; }
		}
	}
	&__icon {
		@include position(absolute, 5% 5% n n);
		margin-top: -0.5px;
		margin-right: -0.5px;
		font-size: 1.25rem;
		@include blockSize(2.5em, 2em);
		background: $color__white;
		color: $color__orange;
		transition: width ease $time--fast;
		will-change: width;
		svg { @include center; }

		// respond sml
		top: $spaceTop;
		right: $spaceSide;

		// respond med
		background: $color__orange;
		color: $color__white;
	}
	&__text {
		@include center;
		color: $color__white;
		font-size: 2rem;
		font-weight: 600;

		// respond sml
		font-size: 2.5rem;
		// respond med
		color: $color__black;
	}
}
