/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// COLORS

$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

$color__black: rgb(41,41,41);
$color__gray: #dedede;
$color__orange: orange;
$color__white: white;

// FONTS

$font--serif: "Georgia", serif;

// EASING

$time--faster: 125ms;
$time--fast: 250ms;
$time: 450ms;
$time--slow: 850ms;
$time--slower: 1s;

// FUNCTIONS

@function autoOrValue($val) {
	@if $val == a { @return auto; }
	@else { @return $val; }
}

// MIXINS

@mixin position($position: absolute, $coords: 0 n n 0, $z: false) {
	position: $position;

	$top: nth($coords,1);
	$right: nth($coords,2);
	$bottom: nth($coords,3);
	$left: nth($coords,4);

	@if $top != n { top: autoOrValue($top); }
	@if $right != n { right: autoOrValue($right); }
	@if $bottom != n { bottom: autoOrValue($bottom); }
	@if $left != n { left: autoOrValue($left); }

	@if $z != false { z-index: $z; }
}

@mixin center($axis: 'both', $position: absolute) {
	position: $position;

	@if $axis == 'vertical' {
		@include position($position, 50% n n n);
		transform: translateY(-50%);
	}
	@else if $axis == 'horizontal' {
		@include position($position, n n n 50%);
		transform: translateX(-50%);
	}
	@else if $axis == 'both' {
		@include position($position, 50% n n 50%);
		transform: translate(-50%,-50%);
	} @else {
		@error "center mixin arg[0] should be: (vertical|horizontal|both)";
	}
}

@mixin size($w: 100%, $h: false) {
	width: $w;
	@if $h	{ height: $h; }
	@else		{ height: $w; }
}

@mixin blockSize($w: 100%, $h: false, $display: block) {
	@if $display { display: $display; }
	@include size($w,$h);
}

@mixin aspectRatio($percentage: 50%, $pseudo: after) {
	&::#{$pseudo} {
		content: "";
		@include blockSize(100%,0);
		padding-bottom: $percentage;
	}
}
