// common styles
// must be named `style.scss`

.wp-block { max-width: 1200px; }

// full width blocks
.wp-block[data-type="power-blocks/by-the-numbers"],
.wp-block[data-type="power-blocks/overture"],
.wp-block[data-type="power-blocks/hero"] {
	$gutenPadding: 46px;

	width: calc(100% + #{$gutenPadding * 2});
	max-width: calc(100% + #{$gutenPadding * 2});
	margin-left: -#{$gutenPadding};
	padding: 0;

	.editor-block-list__breadcrumb {
		top: 0;
		right: 26px;
	}
	.editor-block-toolbar { left: 42px; }
	.editor-warning { margin-left: 28px; }
}
