.hero {
	display: block;
	padding-top: 8rem;
	position: relative;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;

	&__wrap {
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 700px;
	}

	&__inner {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
	&__headline {
		font-size: 4rem;
		color: $color__white;
		line-height: 1.5;
		display: inline-block;
		margin-bottom: 2rem;

		&--span {
			// TODO mixin
			background: linear-gradient(90deg,rgba(95,137,37,.85) 0,rgba(151,202,62,.85));
			padding: .25rem 1rem;
			box-decoration: clone;
		}
	}

	&__copy {
		margin-bottom: 0 0 2rem;
		max-width: 630px;
		line-height: 1.5;
		color: $color__white;
	}
}
