.power-blocks-curtain-controls-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .5rem;
	&[hidden] { display: none; }
}
.curtain-edit-buttons {
	display: flex;
	align-items: center;
}
.curtain__slide {
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
	margin-bottom: 1rem;
}
.power-blocks-curtain-buttons {
	button { width: 100%; justify-content: center; }
}

.boxlinks__item .power-blocks-curtain-controls-container {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
}
