.boxlinks {
	display: flex;
	justify-content: center;
	align-items: stretch;

	&__item {
		text-align: center;
		border: 1px solid $color__orange;
		padding: 10% 1rem 5%;
		margin: 2rem;
		position: relative;
		min-width: 200px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		display: block;
		font-size: 1.5rem;
		margin-bottom: 1.5em;
	}
	&__btn {}
}
